<section id="homepage-hero" class="wrapper-hero">
  <div class="container">
    <div class="row hero-content">
      <h1>Ads That Work</h1>
      <p>The retargeting</p>
    </div>
  </div>
  <div id-="background-box">
    <div class="video-wrapper" id="video-homepage">
      <div>
        <video autoplay="" poster="{{ site_url }}assets/video/white.png" loop>
          <source src="{{ site_url }}assets/video/site.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</section>

<section class="container wrapper-low">
  <div class="row-table">
    <div class="col_6 text-center">
      <img src="{{ site_url }}assets/img/homepage-unified-platform.gif" class="photo" alt="cross-device retargeting" />
    </div>
    <div class="col_6">
      <h2>Unified Platform</h2>
      <p>Reach your customers across devices.</p>
      <p><a href="/en-NL/product" class="cta fill-blue-outline">Learn More</a></p>
    </div>
  </div>
</section>

<section class="container wrapper-low">
  <div class="row-table">
    <div class="col_6 text-center mobile-table-view">
      <img src="{{ site_url }}assets/img/homepage-radical-technology.gif" class="photo" />
    </div>
    <div class="col_6">
      <h2>Radical Technology</h2>
      <p>Don’t miss out on customers.</p>
      <p><a href="/en-NL/product" class="cta fill-blue-outline">Explore the Features</a></p>
    </div>
    <div class="col_6 text-center mobile-table-hide">
      <img src="{{ site_url }}assets/img/homepage-radical-technology.gif" class="photo" />
    </div>
  </div>
</section>

<section class="container wrapper-low">
  <div class="row-table">
    <div class="col_6 text-center">
      <img src="{{ site_url }}assets/img/homepage-control-and-transparency.gif" class="photo" />
    </div>
    <div class="col_6">
      <h2>Control and Transparency</h2>
      <p>Conveniently place ads.</p>
      <p><a href="/en-NL/request-a-demo" class="cta fill-blue-outline">Request a Demo</a></p>
    </div>
  </div>
</section>

<section class="bkgd-blue wrapper-header">
  <div class="section-header">
    <img src="{{ site_url }}assets/icons/header-support.png">
  </div>
  <div class="row-block text-center">
    <h2>Partners in Success</h2>
    <p>Industry-specific experts are available.</p>
    <p class="center"><a class="cta fill-white" href="javascript:void(0);" onclick="olark('api.box.expand');">Talk To A Specialist</a></p>
  </div>
</section>

<section class="wrapper container logo-wall" id="logo-wall-home">
  <div class="row-block text-center">
    <h2>We work with every type of business in every size</h2>
    <p>Over 20,000 brands across 150 countries trust.</p>
  </div>
  {{ theme:partial src="logo-wall" }}
</section>

{{ theme:partial src="banner-try" }}
